.first_card {
  height: 400px;
  width: 400px;
  border-radius: 0.5rem;
  transform: rotate(-8deg);
}

.first_child {
  height: 390px;
  width: 390px;
  border-radius: 0.5rem;
  transform: rotate(8deg);
  border: solid 0.01rem  var(--bg-main);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.5rem;
}

.box-1 {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 50%;
  top: 32%;
  margin: 0.5rem;
}

.box-1 img {
  height: 100px;
}

.box-2 {
  height: 200px;
  display: grid;
  grid-template-rows: 1fr * 5;
  grid-gap: 0.5rem;
  position: relative;
  top: 25%;
  margin-right: 5%;
}

.box-2Child {
  height: 70%;
  border-radius: 0.5rem;
  transition: opacity 1s;
}

.two {
  width: 80%;
  position: relative;
  right: -20%;
}

.four {
  width: 80%;
}

.five {
  display: flex;
  flex-wrap: nowrap;
}

.five div {
  height: 20px;
  width: 50px;
  border-radius: 5rem;
  margin: 0.1rem;
}
