@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import "custom-style.css";
@import "animations.css";
@import "left-firstCard.css";
@import "second-rightCard.css";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  background: var(--bg-primary);
}

#darkMode-btn {
  width: 50px;
  height: 20px;
  background: var(--bg-darkturquoise);
  position: relative;
  padding: 0.1rem;
  left: 5%;
  margin-top: 1%;
  border-radius: 5rem;
}

#toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.dark-mode {
  background: #000 !important;
  position: absolute;
  margin-left: 55%;
  transition: 0.5s;
}

.main-content {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  padding: 12%;
}
